<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Phil's shipping tool</title>
        {% else %}
        <title>Phil's shipping tool</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('manage') }}">Games</a>
            <a href="{{ url_for('boxes') }}">Boxes</a>
            BGG Sync
            Add Game Preset
            -------------------------------
            <a href="{{ url_for('index') }}">User Homepage</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>