{% extends "base_manage.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form method="post">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Listing ID</th>
                    <th>Condition</th>
                    <th>Pounds</th>
                    <th>Ounces</th>
                    <th>L</th>
                    <th>W</th>
                    <th>H</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.title }}</td>
                    <td>{{ game.bgg_listing_id }}</td>
                    <td>{{ game.condition }}</td>
                    <td><input type="text" name="pounds_{{ game.id }}" value="{{ game.pounds }}" size="2"></td>
                    <td><input type="text" name="ounces_{{ game.id }}" value="{{ game.ounces }}" size="2"></td>
                    <td><input type="text" name="length_{{ game.id }}" value="{{ game.length }}" size="2"></td>
                    <td><input type="text" name="width_{{ game.id }}" value="{{ game.width }}" size="2"></td>
                    <td><input type="text" name="height_{{ game.id }}" value="{{ game.height }}" size="2"></td>
                    <td><button type="submit" name="save" value="{{ game.id }}">Save</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}