{% extends "base_manage.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form method="post">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Listing ID</th>
                    <th>Condition</th>
                    <th>Pounds</th>
                    <th>Ounces</th>
                    <th>Inner L</th>
                    <th>Inner W</th>
                    <th>Inner H</th>
                    <th>Outer L</th>
                    <th>Outer W</th>
                    <th>Outer H</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.title }}</td>
                    <td>{{ game.bgg_listing_id }}</td>
                    <td>{{ game.condition }}</td>
                    <td><input type="text" name="pounds_{{ game.id }}" value="{{ game.pounds }}" size="2"></td>
                    <td><input type="text" name="ounces_{{ game.id }}" value="{{ game.ounces }}" size="2"></td>
                    <td><input type="text" name="inner_length_{{ game.id }}" value="{{ game.inner_length }}" size="2"></td>
                    <td><input type="text" name="inner_width_{{ game.id }}" value="{{ game.inner_width }}" size="2"></td>
                    <td><input type="text" name="inner_height_{{ game.id }}" value="{{ game.inner_height }}" size="2"></td>
                    <td><input type="text" name="outer_length_{{ game.id }}" value="{{ game.outer_length }}" size="2"></td>
                    <td><input type="text" name="outer_width_{{ game.id }}" value="{{ game.outer_width }}" size="2"></td>
                    <td><input type="text" name="outer_height_{{ game.id }}" value="{{ game.outer_height }}" size="2"></td>
                    <td><button type="submit" name="save" value="{{ game.id }}">Save</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}