{% extends "base_manage.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <table>
        <thead>
            <tr>
                <th>Game</th>
                <th>BGG Listing</th>
                <th>Cond</th>
                <th>Pds</th>
                <th>Oz</th>
                <th>L</th>
                <th>W</th>
                <th>H</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <form action="" method="post" novalidate>
                    {{ forms[game.id].csrf_token }}
                    {{ forms[game.id].game_id(value=game.id) }}
                    <tr>
                        <td>{{ game.title }}</td>
                        <td>{{ game.bgg_listing_id }}</td>
                        <td>{{ game.condition }}</td>
                        <td>{{ forms[game.id].pounds(size=6, value='{:.1f}'.format(game.pounds).rstrip('0').rstrip('.')) }}</td>
                        <td>{{ forms[game.id].ounces(size=6, value='{:.1f}'.format(game.ounces).rstrip('0').rstrip('.')) }}</td>
                        <td>{{ forms[game.id].length(size=6, value='{:.1f}'.format(game.length).rstrip('0').rstrip('.')) }}</td>
                        <td>{{ forms[game.id].width(size=6, value='{:.1f}'.format(game.width).rstrip('0').rstrip('.')) }}</td>
                        <td>{{ forms[game.id].height(size=6, value='{:.1f}'.format(game.height).rstrip('0').rstrip('.')) }}</td>
                        <td>{{ forms[game.id].update() }}</td>
                    </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}